{% import "_includes/forms" as forms %}

{% extends "outpost/_layout" %}

{% set title = 'Logs'|t('outpost') %}
{% set selectedSubnavItem = 'logs' %}

{% set params = {
  level: selectedLevel,
  searchQuery: searchQuery
}%}

{% set content %}
  <form action="" method="get">
      <div class="toolbar">
          <div class="flex">
              <div>
              {{ forms.selectField({
                  id: 'level',
                  name: 'level',
                  value: selectedLevel,
                  options: levels
              }) }}
              </div>
              <div class="flex-grow texticon search icon clearable">
                  <input class="text fullwidth" id="searchQuery" name="searchQuery" type="text" value="{{searchQuery}}" placeholder="{{'Search logs'|t('outpost')}}">
              </div>
              <input type="submit" class="btn submit" value="{{ "Filter"|t('outpost') }}">
              <a href="{{url('outpost/logs')}}" class="btn primary">{{ 'Clear'|t('outpost') }}</a>
          </div>
      </div>
  </form>
  {% if logs | length %}
      <table class="data fullwidth outpost-logs-table">
          <thead>
              <tr>
                  <th scope="col" class="thin"></th>
                  <th scope="col">{{ "Message" | t('outpost') }}</th>
                  <th scope="col" class="thin">{{ "Level" | t('outpost') }}</th>
                  <th scope="col">{{ "When" | t('outpost') }}</th>
              </tr>
          </thead>

          <tbody>
              {% for log in logs %}
              <tr>
                  <td class="thin">
                      <a class="btn submit icon livepreviewbtn" href="{{ url('/admin/outpost/requests/'~log.requestId~'/logs/'~log.id) }}">
                          {{ "View"|t('outpost') }}
                      </a>
                  </td>
                  <td class="col-label" data-title="{{ 'Message' | t('outpost') }}">
                      <code class="">{{ log.message|length > 50 ? log.message|slice(0, 50)~'…' : log.message }}</code>
                  </td>
                  <td class="thin" data-title="{{ 'Level' | t('outpost') }}">
                      <span class="log-level log-level-{{log.level|lower}}">
                          <code>{{ log.level }}</code>
                      </span>
                  </td>
                  <td data-title="{{ 'When' | t('outpost') }}" style="width: 140px;">
                      <code>
                          {{ log.timestamp }}
                      </code>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <div class="button">
          {% if pages > 1 and page > 1 %}
              {% set params = params|merge({page: page - 1}) %}
              <a class="btn primary" style="margin-top:24px" title="View ungrouped requests" href="{{url('outpost/logs/', params)}}">&lt; Previous</a>
          {% endif %}
          {{page}} of {{pages}}
          {% if pages > 1 and page < pages %}
              {% set params = params|merge({page: page + 1}) %}
              <a class="btn primary" style="margin-top:24px" title="View ungrouped requests" href="{{url('outpost/logs/', params)}}">Next &gt;</a>
          {% endif %}
      </div>
  {% else %}
      <p>{{ 'No logs recorded yet.' | t('outpost') }}</p>
  {% endif %}
{% endset %}