{% extends "outpost/request/_layout" %}

{% set content %}
  {% if events | length %}
      <table class="data fullwidth outpost-logs-table">
          <thead>
              <tr>
                  <th class="thin" scope="col"></th>
                  <th scope="col">{{ "Name" | t('outpost') }}</th>
                  <th scope="col">{{ "Class" | t('outpost') }}</th>
                  <th scope="col">{{ "When" | t('outpost') }}</th>
              </tr>
          </thead>

          <tbody>
              {% for event in events %}
              <tr>
                  <td class="thin">
                      <a class="btn submit icon livepreviewbtn" href="{{ url('/admin/outpost/requests/'~request.requestId~'/events/'~event.id) }}">
                          {{ "View"|t('outpost') }}
                      </a>
                  </td>
                  <td class="col-label" data-title="{{ 'Name' | t('outpost') }}">
                      {{ event.eventName }}
                  </td>
                  <td class="col-label" data-title="{{ 'Name' | t('outpost') }}">
                      {{ event.senderClass }}
                  </td>
                  <td data-title="{{ 'When' | t('outpost') }}" style="width: 140px;">
                      <code>{{ event.timestamp }}</code>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  {% else %}
      <p>{{ 'No events recorded.' | t('outpost') }}</p>
  {% endif %}
{% endset %}