{% extends "outpost/request/_layout" %}

{% set content %}
  <div class="meta read-only">
      <div class="data">
          <h5 class="heading">When</h5>
          <div class="value">{{ log.timestamp }}</div>
      </div>
      <div class="data">
          <h5 class="heading">Level</h5>
          <div class="value">{{ log.level }}</div>
      </div>
      <div class="data">
          <h5 class="heading">Category</h5>
          <div class="value">{{log.category}}</div>
      </div>
  </div>

  <div class="meta read-only">
      <div class="data">
          <h5 class="heading fullwidth">Message</h5>
      </div>
      <div class="highlight">
        {% if log.category starts with 'yii\\db\\Command' %}
            <pre><code class="language-sql">{{ log.message }}</code></pre>
        {% elseif log.isJson %}
          <pre><code class="language-json">{{ log.message }}</code></pre>
        {% else %}
            <pre><code class="language-*">{{ log.message }}</code></pre>
        {% endif %}
    </div>
  </div>

{% endset %}
